defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: post
      permalink: /stories/:categories/:title/
  - scope:
      path: ""
      type: "pages"
    values:
      layout: default
theme: null
