---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>youssef ismail</title>
    <meta name="description" content="Youssef Ismail's personal web page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" href="theme.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>"
    />
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="container">
      <div id="nav">
        <span>youssef ismail</span>
        <span>-</span>
        <a href="mailto:yusufismailhassan+website@gmail.com">email</a>
        <span>-</span>
        <a href="https://github.com/yismailuofa" target="_blank">github</a>
        <a
          id="last-modified"
          class="badge"
          href="https://github.com/yismailuofa/yismailuofa.github.io/commit/{{ site.github.build_revision }}"
          target="_blank"
          >{{ site.github.build_revision | slice: 0, 7 }}</a
        >
      </div>
      <hr />
      {% assign in_progress_books = site.data.books | where: "status",
      "inProgress" %} {% assign completed_books = site.data.books | where:
      "status", "completed" %}

      <ul>
        <span class="heading" id="reading-list">
          <span class="dignified">reading</span>
          <span class="dignified">list</span>
        </span>

        {% for book in in_progress_books %}
        <li>
          {{ book.title }}
          <span class="author">{{ book.author }}</span>
          {% if book.entries %}
          <ul>
            {% for entry in book.entries %}
            <li>{{ entry }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}

        <span class="heading" id="completed">
          <span class="dignified">completed</span>
        </span>

        {% for book in completed_books %}
        <li>
          {{ book.title }}
          <span class="author">{{ book.author }}</span>
          {% if book.entries %}
          <ul>
            {% for entry in book.entries %}
            <li>{{ entry }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
