/* Sakura.css v1.5.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */
html {
  font-size: 62.5%;
  font-family: Garamond, serif;
}

body {
  font-size: 1.8rem;
  line-height: 1.618;
  max-width: 44em;
  margin: auto;
  color: #4a4a4a;
  background-color: #f9f9f9;
  padding: 13px;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: Garamond, serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

h1 {
  font-size: 2.35em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: #5e5954;
}

a {
  text-decoration: none;
  color: #5e5954;
}
/* a:visited {
  color: #144f5a;
} */
a:hover {
  color: #4a4a4a;
  border-bottom: 2px solid #4a4a4a;
}

ul {
  padding-left: 1.4em;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

li {
  margin-bottom: 0.4em;
}

blockquote {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
  border-left: 5px solid #5e5954;
  margin-bottom: 2.5rem;
  background-color: #f1f1f1;
}

blockquote p {
  margin-bottom: 0;
}

img,
video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

/* Pre and Code */
pre {
  background-color: #f1f1f1;
  display: block;
  padding: 1em;
  overflow-x: auto;
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-size: 0.9em;
}

code,
kbd,
samp {
  font-size: 0.9em;
  padding: 0 0.5em;
  background-color: #f1f1f1;
  white-space: pre-wrap;
}

pre > code {
  padding: 0;
  background-color: transparent;
  white-space: pre;
  font-size: 1em;
}

/* Tables */
table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.title-header {
  width: 50%;
}

td,
th {
  padding: 0.5em;
  border-bottom: 1px solid #d9d9d9;
}

th {
  background-color: #f1f1f1;
}

/* Buttons, forms and input */
input,
textarea {
  border: 1px solid #4a4a4a;
}
input:focus,
textarea:focus {
  border: 1px solid #5e5954;
}

textarea {
  width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="file"]::file-selector-button {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #5e5954;
  color: #f9f9f9;
  border-radius: 1px;
  border: 1px solid #5e5954;
  cursor: pointer;
  box-sizing: border-box;
}
.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled],
input[type="file"]::file-selector-button[disabled] {
  cursor: default;
  opacity: 0.5;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
input[type="file"]::file-selector-button:hover {
  background-color: #982c61;
  color: #f9f9f9;
  outline: 0;
}
.button:focus-visible,
button:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible,
input[type="button"]:focus-visible,
input[type="file"]::file-selector-button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
}

textarea,
select,
input {
  color: #4a4a4a;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  margin-bottom: 10px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
textarea:focus,
select:focus,
input:focus {
  border: 1px solid #5e5954;
  outline: 0;
}

input[type="checkbox"]:focus {
  outline: 1px dotted #5e5954;
}

input[type="checkbox"] {
  accent-color: #5e5954;
}

label,
legend,
fieldset {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gr_custom_container_1715584813 {
  color: #5e5954;
  width: 100%;
}
.gr_custom_header_1715584813 {
  /* customize your Goodreads header here*/
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-size: 130%;
}
.gr_custom_each_container_1715584813 {
  /* customize each individual book container here */
  width: 100%;
  clear: both;
  /* margin-bottom: 10px; */
  overflow: auto;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #aaa;
}
.gr_custom_book_container_1715584813 {
  /* customize your book covers here */
  overflow: hidden;
  height: 60px;
  float: left;
  margin-right: 4px;
  width: 39px;
}
.gr_custom_author_1715584813 {
  /* customize your author names here */
  font-size: 10px;
}
