:root {
  --accent-a1: #7b5037;
  --accent-a1-50: #7b50371a;
  --gray-1: #f8f5ed;
  --gray-12: #4f493f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-a1: #c49478;
    --accent-a1-50: #c494781a;
    --gray-1: #1a1816;
    --gray-12: #e6e2da;
  }
}

html {
  color: var(--gray-12);
  background-color: var(--gray-1);
}

body {
  font-family: Georgia, serif;
  line-height: 1.5;
}

a {
  color: var(--accent-a1);
}

ul {
  margin-block-start: 0;
  padding-inline-start: 20px;
}

hr {
  border-color: var(--gray-12);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.heading {
  display: block;
  margin-bottom: 0.2em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  font-size: 1.1em;
  margin-top: 0.4em;
}

.dignified {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
}

.dignified::first-letter {
  font-size: 1.3em;
}

.author {
  font-style: italic;
  display: block;
  font-size: 0.8em;
  margin-left: 0.6em;
  opacity: 0.9;
}

.badge {
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: var(--accent-a1-50);
  color: var(--accent-a1);
  border-radius: 0.2em;
  font-size: 0.9em;
  text-decoration: none;
}

.book-entry {
  margin-bottom: 0.3em;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
}

#last-modified {
  margin-left: auto;
}
