:root {
  --accent-a1: #75a1a1;
  --gray-1: #fefdf9;
  --gray-12: #374a4a;
}

body {
  font-family: Georgia, serif;
  line-height: 1.5;
  color: var(--gray-12);
  background-color: var(--gray-1);
}

ul {
  margin-bottom: 1em;
}

a {
  color: var(--accent-a1);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.heading {
  display: block;
  margin-bottom: 0.2em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

.dignified {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
}

.dignified::first-letter {
  font-size: 1.3em;
}

.author {
  font-style: italic;
  display: block;
  font-size: 0.8em;
  margin-left: 1em;
}
