:root {
  --accent-a1: #75a1a1;
  --gray-1: #fefdf9;
  --gray-12: #374a4a;
}

body {
  font-family: Georgia, serif;
  line-height: 1.5;
  color: var(--gray-12);
  background-color: var(--gray-1);
}

a {
  color: var(--accent-a1);
}

ul {
  margin-block-start: 0;
  padding-inline-start: 20px;
}

ul > * {
  animation: slide-in 1.25s cubic-bezier(0.25, 1, 0.5, 1); /* https://easings.net/#easeOutQuart */
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slide-in {
  from {
    transform: translateY(200%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em;
}

.heading {
  display: block;
  margin-bottom: 0.2em;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  margin-top: 0.4em;
}

.dignified {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: underline;
}

.dignified::first-letter {
  font-size: 1.3em;
}

.author {
  font-style: italic;
  display: block;
  font-size: 0.8em;
  margin-left: 0.6em;
}

.badge {
  display: inline-block;
  padding: 0.2em 0.4em;
  background-color: rgba(117, 161, 161, 0.1);
  color: var(--accent-a1);
  border-radius: 0.2em;
  font-size: 0.9em;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
}

#last-modified {
  margin-left: auto;
  text-align: right;
}
