<div class="book-list">
  {% for book in include.books %}
  <span class="book-item">
    <p class="book-title">
      {% if book.starred -%}
      <span class="starred">✶</span>
      {%- endif %}
      <strong>
        {% if book.link %}
        <a href="{{ book.link }}">{{ book.title }}</a>
        {%- else -%} {{- book.title -}} {%- endif -%}
      </strong>
      <i class="book-author"> {{ book.author }}</i>
    </p>
    {% for entry in book.entries limit: 7 %}
    <p>{{ entry }}</p>
    {% endfor %} {% if book.entries.size > 7 %}
    <details class="book-entries-more">
      <summary></summary>
      {% for entry in book.entries offset: 7 %}
      <p>{{ entry }}</p>
      {% endfor %}
    </details>
    {% endif %}
  </span>
  {% endfor %}
</div>
