<head>
  <title>{{ page.title }}</title>
  <meta name="description" content="Youssef Ismail's personal web page" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="theme-color"
    media="(prefers-color-scheme: light)"
    content="#ffffff"
  />
  <meta
    name="theme-color"
    media="(prefers-color-scheme: dark)"
    content="#000000"
  />
  <meta name="color-scheme" content="dark light" />
  <link rel="stylesheet" href="/theme.css" />
  <link
    rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>"
  />
  <meta charset="utf-8" />
</head>
