:root {
  --background-1: #fff9f1;
  --text-1: #3e342c;
  --text-2: hsl(from var(--text-1) h s calc(l + 10));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #20180d;
    --text-1: #f9f4ef;
    --text-2: hsl(from var(--text-1) h s calc(l - 10));
  }
}

html {
  color: var(--text-1);
  background-color: var(--background-1);
}

body {
  font-family: "Palatino", "Palatino Linotype", "Book Antiqua", Georgia, serif;
  line-height: 1.5;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}

a {
  color: var(--text-1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
}

header {
  margin-bottom: 3%;
}

#last-modified {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  gap: 0.3em;
  text-decoration: none;
}

#sha-indicator {
  display: inline-block;
  width: 0.8em;
  height: 0.8em;
  background-color: var(--sha-color, var(--text-1));
  border-radius: 50%;
}

.active {
  text-decoration: none;
  pointer-events: none;
}

hr {
  border-color: var(--text-1);
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  margin-top: 1em;
  margin-bottom: 0em;
}

h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
}

h3 {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.subtitle {
  font-style: italic;
  font-size: 0.8em;
  opacity: 0.9;
  color: var(--text-2);
  text-align: center;
  padding-bottom: 4em;
}

section {
  padding: 1em 0;
}

p {
  margin: 0;
  text-wrap: pretty;
}

p + p {
  padding-left: 1.5em;
}

.book-title {
  position: relative;
  padding-left: 1em;
}

.starred {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-2);
}

.reminder {
  margin: 1em 0;
}

.separator {
  text-align: center;
  color: var(--text-2);
  font-size: 1.5em;
  margin: 0.5em 0;
  opacity: 0.5;
}
