:root {
  --background-1: #fffaf4;
  --text-1: #694f38;
  --text-2: hsl(from var(--text-1) h s calc(l + 10));
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-1: #20180d;
    --text-1: #f9f4ef;
    --text-2: hsl(from var(--text-1) h s calc(l - 10));
  }
}

html {
  color: var(--text-1);
  background-color: var(--background-1);
}

body {
  font-family: Georgia, serif;
  line-height: 1.5;
  margin: 0 1em 1em;
}

main {
  margin-bottom: 1em;
}

a {
  color: var(--text-1);
}

ul,
ol {
  margin-block-start: 0;
  padding-inline-start: 20px;
  margin: 0;
}

hr {
  border-color: var(--text-1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  text-transform: uppercase;
  margin: 0;
  font-weight: normal;
  line-height: 1;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter {
  font-size: 1.3em;
  font-style: italic;
}

article > .subtitle {
  margin-bottom: 1.5em;
  margin-top: 0em;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.5em;
}

.subtitle {
  font-style: italic;
  display: block;
  font-size: 0.8em;
  opacity: 0.9;
  color: var(--text-2);
  margin-top: -0.2em;
}

.active {
  text-decoration: none;
  pointer-events: none;
}

.reminders-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
}

.reminder-paragraph {
  white-space: pre-line;
  margin-top: 0;
}

.reminder-line {
  width: 100%;
  opacity: 0.5;
  border: none;
  border-top: medium double var(--text-2);
  margin: 1.5em auto;
}

.book-list {
  margin-bottom: 1em;
}

.book-list > li {
  margin-bottom: 0.3rem;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
}

#last-modified {
  margin-left: auto;
  color: var(--text-1);
  display: flex;
  align-items: center;
  gap: 0.3em;
  text-decoration: none;
}

#sha-indicator {
  display: inline-block;
  width: 0.9em;
  height: 0.9em;
  background-color: var(--sha-color, var(--text-1));
  border-radius: 50%;
}
