---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title | append: ' - youssef ismail' }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="#ffffff"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="#000000"
    />
    <meta name="color-scheme" content="dark light" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>📚</text></svg>"
    />
    <meta charset="utf-8" />
    <link
      rel="sitemap"
      type="application/xml"
      title="Sitemap"
      href="/sitemap.xml"
    />
  </head>
  <body>
    <div class="container">
      {% include navbar.html %}
      <main>{{ content }}</main>
    </div>
  </body>
</html>
